In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('NASDAQCOM.csv')

In [3]:
df.head()

         DATE NASDAQCOM
0  1971-02-05    100.00
1  1971-02-08    100.84
2  1971-02-09    100.76
3  1971-02-10    100.69
4  1971-02-11    101.45

In [4]:
from datetime import datetime

In [5]:
df['DATE']=pd.to_datetime(df['DATE'])

In [6]:
df.set_index('DATE', inplace=True)

In [7]:
df['NASDAQCOM']=df['NASDAQCOM'].str.split('.')

In [8]:
df['NASDAQCOM'].head()

DATE
1971-02-05    [100, 00]
1971-02-08    [100, 84]
1971-02-09    [100, 76]
1971-02-10    [100, 69]
1971-02-11    [101, 45]
Name: NASDAQCOM, dtype: object

In [9]:
df['NASDAQCOM']=df['NASDAQCOM'].str[0]

In [10]:
df['NASDAQCOM']=pd.to_numeric(df['NASDAQCOM'])

In [11]:
df_q=df.resample('QS').mean()

In [12]:
df.isnull().sum()

NASDAQCOM    443
dtype: int64

In [38]:
df_q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       206 non-null    datetime64[ns]
 1   NASDAQCOM  206 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.3 KB

In [13]:
df_q=df_q.round(0)

In [14]:
df_q=df_q.reset_index()

In [15]:
df_q.head()

        DATE  NASDAQCOM
0 1971-01-01      103.0
1 1971-04-01      109.0
2 1971-07-01      108.0
3 1971-10-01      107.0
4 1972-01-01      122.0

In [16]:
df_q.shape

(206, 2)

In [17]:
df3=pd.read_csv('CP.csv')

In [18]:
df3.head()

         DATE      CP
0  1947-01-01  21.970
1  1947-04-01  20.788
2  1947-07-01  20.564
3  1947-10-01  22.451
4  1948-01-01  23.739

In [21]:
df3.isnull().sum()

DATE    0
CP      0
dtype: int64

In [22]:
df3=df3[df3['DATE']>'1970-12-31']

In [29]:
df3=df3.round(0)

In [30]:
df3.head()

           DATE    CP
96   1971-01-01  60.0
97   1971-04-01  62.0
98   1971-07-01  67.0
99   1971-10-01  69.0
100  1972-01-01  73.0

In [24]:
df3.shape

(204, 2)

In [19]:
df2=pd.read_csv('GDP (1).csv')

In [25]:
df2.head()

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [26]:
df2.isnull().sum()

DATE    0
GDP     0
dtype: int64

In [27]:
df2=df2[df2['DATE']>'1970-12-31']

In [31]:
df2=df2.round(0)

In [32]:
df2.head()

           DATE     GDP
96   1971-01-01  1135.0
97   1971-04-01  1156.0
98   1971-07-01  1178.0
99   1971-10-01  1190.0
100  1972-01-01  1231.0

In [33]:
df23=pd.merge(df2,df3)

In [34]:
df23

           DATE      GDP      CP
0    1971-01-01   1135.0    60.0
1    1971-04-01   1156.0    62.0
2    1971-07-01   1178.0    67.0
3    1971-10-01   1190.0    69.0
4    1972-01-01   1231.0    73.0
..          ...      ...     ...
199  2020-10-01  21478.0  2164.0
200  2021-01-01  22038.0  2368.0
201  2021-04-01  22741.0  2690.0
202  2021-07-01  23202.0  2722.0
203  2021-10-01  24003.0  2700.0

[204 rows x 3 columns]

In [39]:
df23['DATE']=pd.to_datetime(df23['DATE'])

In [40]:
df24=pd.merge(df23,df_q)

In [41]:
df24

          DATE      GDP      CP  NASDAQCOM
0   1971-01-01   1135.0    60.0      103.0
1   1971-04-01   1156.0    62.0      109.0
2   1971-07-01   1178.0    67.0      108.0
3   1971-10-01   1190.0    69.0      107.0
4   1972-01-01   1231.0    73.0      122.0
..         ...      ...     ...        ...
199 2020-10-01  21478.0  2164.0    11954.0
200 2021-01-01  22038.0  2368.0    13351.0
201 2021-04-01  22741.0  2690.0    13847.0
202 2021-07-01  23202.0  2722.0    14839.0
203 2021-10-01  24003.0  2700.0    15390.0

[204 rows x 4 columns]

In [42]:
df24.dropna(inplace=True)

In [43]:
df24.shape

(204, 4)

In [57]:
df24.corr()

                GDP        CP  NASDAQCOM
GDP        1.000000  0.966482   0.848925
CP         0.966482  1.000000   0.855056
NASDAQCOM  0.848925  0.855056   1.000000

In [47]:
X=df24[['GDP','CP']]

In [45]:
y=df24['NASDAQCOM']

In [46]:
import statsmodels
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [48]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range = (0,1))

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state=1)

In [50]:
scaler.fit(X_train)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [51]:
lr=LinearRegression()
lr.fit(X,y)

LinearRegression()

In [ ]:
lr_pred=lr.predict(X_test)

In [53]:
lr.score(X,y)

0.7388213233608304

In [54]:
X = sm.add_constant(X) # adding a constant

model = sm.OLS(y, X).fit()
predictions = model.predict(X) 

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              NASDAQCOM   R-squared:                       0.739
Model:                            OLS   Adj. R-squared:                  0.736
Method:                 Least Squares   F-statistic:                     284.3
Date:                Fri, 29 Apr 2022   Prob (F-statistic):           2.52e-59
Time:                        09:11:28   Log-Likelihood:                -1774.4
No. Observations:                 204   AIC:                             3555.
Df Residuals:                     201   BIC:                             3565.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -966.4413    223.096     -4.332      0.000   -1406.351    -526.532
GDP            0.1520      0.062      2.434      0.016       0.029       0.275
CP             2.1225      0.568      3.737      0.000       1.003       3.242
==============================================================================
Omnibus:                       91.686   Durbin-Watson:                   0.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              435.004
Skew:                           1.716   Prob(JB):                     3.47e-95
Kurtosis:                       9.277   Cond. No.                     2.50e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.5e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [55]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

poly = PolynomialFeatures(degree=5, interaction_only=True)
X_train5 = poly.fit_transform(X_train)
X_test5 = poly.fit_transform(X_test)

poly_clf = linear_model.LinearRegression()

poly_clf.fit(X_train5, y_train)

y_pred = poly_clf.predict(X_test5)

print(poly_clf.score(X_train5, y_train))

0.9268008426845593

In [58]:
df24.head()

        DATE     GDP    CP  NASDAQCOM
0 1971-01-01  1135.0  60.0      103.0
1 1971-04-01  1156.0  62.0      109.0
2 1971-07-01  1178.0  67.0      108.0
3 1971-10-01  1190.0  69.0      107.0
4 1972-01-01  1231.0  73.0      122.0

In [61]:
df24['open']=df24['NASDAQCOM'].shift()

In [65]:
df24['diff']=df24['NASDAQCOM']-df24['open']

In [66]:
df24

          DATE      GDP      CP  NASDAQCOM     open    diff
0   1971-01-01   1135.0    60.0      103.0      NaN     NaN
1   1971-04-01   1156.0    62.0      109.0    103.0     6.0
2   1971-07-01   1178.0    67.0      108.0    109.0    -1.0
3   1971-10-01   1190.0    69.0      107.0    108.0    -1.0
4   1972-01-01   1231.0    73.0      122.0    107.0    15.0
..         ...      ...     ...        ...      ...     ...
199 2020-10-01  21478.0  2164.0    11954.0  10926.0  1028.0
200 2021-01-01  22038.0  2368.0    13351.0  11954.0  1397.0
201 2021-04-01  22741.0  2690.0    13847.0  13351.0   496.0
202 2021-07-01  23202.0  2722.0    14839.0  13847.0   992.0
203 2021-10-01  24003.0  2700.0    15390.0  14839.0   551.0

[204 rows x 6 columns]

In [84]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       204 non-null    datetime64[ns]
 1   GDP        204 non-null    float64
 2   CP         204 non-null    float64
 3   NASDAQCOM  204 non-null    float64
 4   open       203 non-null    float64
 5   diff       203 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 11.2 KB

In [78]:
up=range(1,100000)
down=range(-1,-100000)
nan='nan'

In [89]:
def Getup(no):
    if no>0:
        return "up"
    elif no<=0:
        return "down"
    else:
        return "other"

In [82]:
def Getup(no):
    if no in up:
        return "up"
    elif no in down:
        return "down"
    elif no in nan:
        return "nan"
    else:
        return "other"

In [90]:
df24['up-down'] = df24['diff'].apply(lambda x: Getup(x))

In [91]:
df24

          DATE      GDP      CP  NASDAQCOM     open    diff up-down
0   1971-01-01   1135.0    60.0      103.0      NaN     NaN   other
1   1971-04-01   1156.0    62.0      109.0    103.0     6.0      up
2   1971-07-01   1178.0    67.0      108.0    109.0    -1.0    down
3   1971-10-01   1190.0    69.0      107.0    108.0    -1.0    down
4   1972-01-01   1231.0    73.0      122.0    107.0    15.0      up
..         ...      ...     ...        ...      ...     ...     ...
199 2020-10-01  21478.0  2164.0    11954.0  10926.0  1028.0      up
200 2021-01-01  22038.0  2368.0    13351.0  11954.0  1397.0      up
201 2021-04-01  22741.0  2690.0    13847.0  13351.0   496.0      up
202 2021-07-01  23202.0  2722.0    14839.0  13847.0   992.0      up
203 2021-10-01  24003.0  2700.0    15390.0  14839.0   551.0      up

[204 rows x 7 columns]

In [92]:
df24['up-down'].value_counts()

up       138
down      65
other      1
Name: up-down, dtype: int64

In [93]:
df25=df24[1:]

In [94]:
df25

          DATE      GDP      CP  NASDAQCOM     open    diff up-down
1   1971-04-01   1156.0    62.0      109.0    103.0     6.0      up
2   1971-07-01   1178.0    67.0      108.0    109.0    -1.0    down
3   1971-10-01   1190.0    69.0      107.0    108.0    -1.0    down
4   1972-01-01   1231.0    73.0      122.0    107.0    15.0      up
5   1972-04-01   1266.0    74.0      131.0    122.0     9.0      up
..         ...      ...     ...        ...      ...     ...     ...
199 2020-10-01  21478.0  2164.0    11954.0  10926.0  1028.0      up
200 2021-01-01  22038.0  2368.0    13351.0  11954.0  1397.0      up
201 2021-04-01  22741.0  2690.0    13847.0  13351.0   496.0      up
202 2021-07-01  23202.0  2722.0    14839.0  13847.0   992.0      up
203 2021-10-01  24003.0  2700.0    15390.0  14839.0   551.0      up

[203 rows x 7 columns]

In [97]:
X=df25[['CP','GDP']]
y=df25['up-down']

In [98]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range = (0,1))

In [99]:
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix, classification_report

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state=1,stratify=y)

In [101]:
scaler.fit(X_train)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [102]:
rfc=RandomForestClassifier(n_estimators=200)

In [103]:
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200)

In [104]:
rfc_pred=rfc.predict(X_test)

In [105]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

        down       0.40      0.31      0.35        13
          up       0.71      0.79      0.75        28

    accuracy                           0.63        41
   macro avg       0.55      0.55      0.55        41
weighted avg       0.61      0.63      0.62        41

In [106]:
confusion_matrix(y_test,rfc_pred)

array([[ 4,  9],
       [ 6, 22]], dtype=int64)

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [112]:
param_grid_lr = {
    'max_iter': [20, 50, 100, 200, 500, 1000],                      
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],   
    'class_weight': ['balanced']                                    
}

In [113]:
lr=LogisticRegression()

In [114]:
grid_search = GridSearchCV(estimator = lr, param_grid = param_grid_lr, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [115]:
grid_search.fit(X_train,y_train)

Fitting 3 folds for each of 30 candidates, totalling 90 fits

GridSearchCV(cv=3, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'class_weight': ['balanced'],
                         'max_iter': [20, 50, 100, 200, 500, 1000],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag',
                                    'saga']},
             verbose=2)

In [116]:
print(grid_search.best_estimator_)

LogisticRegression(class_weight='balanced', max_iter=20, solver='newton-cg')

In [117]:
lr_pred=grid_search.predict(X_test)

In [118]:
print(classification_report(y_test,lr_pred))

              precision    recall  f1-score   support

        down       0.43      0.92      0.59        13
          up       0.92      0.43      0.59        28

    accuracy                           0.59        41
   macro avg       0.68      0.68      0.59        41
weighted avg       0.77      0.59      0.59        41